---
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  hicpp-*,
  cert-*,
  google-runtime-int,
  readability-identifier-naming
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
---