BasedOnStyle: Google

IndentWidth: 4

AllowShortFunctionsOnASingleLine: Inline

PointerAlignment: Left

ColumnLimit: 100

IncludeBlocks: Preserve

NamespaceIndentation: None

ConstructorInitializerIndentWidth: 4

AlignConsecutiveAssignments: true